.lobby-screen{
  width: 900px;
  height: 630px;
  border-radius: 15px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(180, 180, 255);
}

.lobby-screen__games,
.lobby-screen__rooms{
  border-radius: 20px;
}

.lobby-screen__games{
  width: 10%;
  height: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 153, 153);
}

.lobby-screen__games li{
  width: 70px;
  height: 70px;
  margin: 10px 0px;
  background-color: rgb(255, 255, 204);
  border: 2px solid rgb(255, 153, 102);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lobby-screen__games img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lobby-screen__games span{
  position: absolute;
  bottom: -15px;
  font-size: 12px;
  color: whitesmoke;
}

.lobby-screen__rooms{
  width: 83%;
  height: 90%;
  background-color: rgb(255, 204, 204);
  border: 10px solid rgb(255, 204, 204);
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  overflow-y: auto;
}

.lobby-screen__room{
  width: 98%;
  height: 30%;
  border-radius: 20px;
  background: linear-gradient(rgb(204, 102, 153) 30%, white 30%);
  margin: 8px auto;
}

.lobby-screen__rooms::-webkit-scrollbar{
  width: 10px;
}

.lobby-screen__rooms::-webkit-scrollbar-thumb {
  background-color: rgb(255, 153, 153);
  border-radius: 10px;
}
.lobby-screen__rooms::-webkit-scrollbar-track {
  background-color: whitesmoke;
  border-radius: 10px;
  border: 1px solid rgb(255, 153, 153);
  /* box-shadow: inset 0px 0px 5px white; */
}