/* @import 'loading.css'; */
.start-page-wrapper{
  position: fixed;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-phrases{
  position: fixed;
  width: 800px;
  text-align: center;
  top: 120px;
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.start-page-option{
  position: fixed;
  margin-top: 110px;
  width: 160px;
  height: 70px;
  background-color: rgb(255, 102, 102);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  color: white;
}