.welcome{
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.welcome__phrase,
.start-button{
  font-weight: 700;
  color: white;
}

.welcome__phrase{
  width: 800px;
  font-size: 70px;
  text-align: center;
}

.start-button{
  width: 160px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 102, 102);
  border-radius: 50px;
  font-size: 35px;
  cursor: pointer;
}